<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %} | Sample Catalog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% stylesheets
        'vendor/bootstrap/dist/css/bootstrap.css'
        '@AppBundle/Resources/public/css/*'
        filter='cssrewrite'
        output='css/app.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}?v1.0" />
    {% endstylesheets %}
</head>

<body data-env="{% if app.environment == 'dev' %}/app_dev.php{% endif %}">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('catalog_home') }}"><span class="glyphicon glyphicon-shopping-cart"></span> Sample Catalog</a>
            </div>
        </div>
    </nav>

    {% block main %}{% endblock %}

    <footer>
        <div class="container">
            <div class="row">
                <hr/>
            </div>
            <div class="row">
                Copyright &copy;2014 by Sergey Sadovoi
            </div>
        </div>
    </footer>

    {% javascripts
        'vendor/jquery/dist/jquery.min.js'
        '@AppBundle/Resources/public/js/*'
        output = 'js/front-libs.js'
    %}
        <script src="{{ asset_url }}?v1.0"></script>
    {% endjavascripts %}

</body>

</html>