<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %} | Sample Catalog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    {% block addStyle %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('catalog_home') }}"><span class="glyphicon glyphicon-shopping-cart"></span> Sample Catalog</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% render controller('AppBundle:Module:categories', {'request': app.request}) %}
            </div>
            <div class="col-md-6">
                {% render controller('AppBundle:Module:breadcrumbs', {'request': app.request}) %}
                {% block content %}{% endblock %}
            </div>
            <div class="col-md-3">
                <p class="lead">Shopping Cart</p>
                <div class="list-group">
                    <span class="list-group-item"><b>Product Item</b> x 1 = <b class="text-info">$25</b> <i class="glyphicon glyphicon-remove"></i></span>
                    <span class="list-group-item"><b>Product Item</b> x 1 = <b class="text-info">$25</b> <i class="glyphicon glyphicon-remove"></i></span>
                    <span class="list-group-item"><b>Product Item</b> x 1 = <b class="text-info">$25</b> <i class="glyphicon glyphicon-remove"></i></span>
                    <span class="list-group-item list-group-item-success"><b>Total: </b> $125</span>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <hr/>
            </div>
            <div class="row">
                Copyright &copy;2014 by Sergey Sadovoi
            </div>
        </div>
    </footer>
</body>

</html>