{% extends 'AppBundle::layout.html.twig' %}
{% block title %}Checkout{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <table class="table table-bordered">
                <tr>
                    <td>

                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}